<div class="loa-header">
    <div class="loa-header__row loa-header__row_top">
        <div class="loa-header__left loa-header__top-left">
            <ng-content select="[top-left]"></ng-content>
        </div>
        <div class="loa-header__right loa-header__top-right">
            <ng-content select="[top-right]"></ng-content>
        </div>
    </div>
    <div class="loa-header__row loa-header__row_bottom">
        <div class="loa-header__left loa-header__bottom-left">
            <ng-content select="[bottom-left]"></ng-content>
        </div>
        <div class="loa-header__right loa-header__bottom-right">
            <ng-content select="[bottom-right]"></ng-content>
        </div>
    </div>
</div>